
/* Lazy-load sınıfı */
.lazy {
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }
  
  .lazy-loaded {
    opacity: 1;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
    font-display: swap;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, .poppins-thin, .poppins-light, .poppins-regular, .poppins-medium, .poppins-semibold {
    font-family: 'Poppins', sans-serif;
}

.poppins-thin { font-weight: 100; }
.poppins-light { font-weight: 300; }
.poppins-regular { font-weight: 400; }
.poppins-medium { font-weight: 500; }
.poppins-semibold { font-weight: 600; }

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

nav img{
    height: 55px;
}

/* Home Section Styles */
.home {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 0;
}

.position-relative {
    position: relative;
    display: block;
}
.hero img {
    width: 100%;         /* Genişliği kapsayıcıya sığdır */
    height: 100%;        /* Yüksekliği de kapsayıcıya sığdır */
    object-fit: cover;   /* Kesme veya bozma olmadan kapsayıcıyı doldur */
    object-position: center; /* Resmin ortasını kapsayıcının merkezine hizala */
  }
  

  .text-overlay {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #384782;
    width: 90%; /* Adjusted width for better padding on smaller screens */
    text-align: center;
    padding: 0 5%; /* Add padding */
}

/* Large screens, typically desktops */
@media (min-width: 1200px) {
    .text-overlay h1 {
        font-size: 5rem;
        margin-bottom: 20px;
    }
    .text-overlay p  {
        font-size: 1.5rem;
    }
}

/* Medium screens, typically tablets */
@media (min-width: 768px) and (max-width: 1199px) {
    .text-overlay h1 {
        font-size: 3rem;
    }
    .text-overlay p {
        font-size: 1rem;
    }
    .text-overlay a {
        font-size: 0.75rem;
    }
}

/* Small screens, larger phones */
@media (min-width: 576px) and (max-width: 767px) {
    .text-overlay h1 {
        font-size: 1.5rem;
    }
    .text-overlay p {
        font-size: 0.75rem;
    }
    .text-overlay a {
        font-size: 0.75rem;
    }
}

/* Extra small screens, phones */
@media (max-width: 575px) {
    .text-overlay h1 {
        font-size: 1rem;
    }
    .text-overlay p {
        font-size: 0.40rem; 
    }
    .text-overlay a {
        font-size: 0.40rem;
    }
    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #384782;
        width: 90%; /* Adjusted width for better padding on smaller screens */
        text-align: center;
        padding: 0 5%; /* Add padding */
    }
}

/* Consider adding padding to the sides on smaller screens for better readability */
@media (max-width: 767px) {
    .text-overlay {
        padding-left: 10px;
        padding-right: 10px;
    }
}
  .heading {
    color:black;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid #384782;
    text-align: center;
}



.profile img{
    width: 600px;
    height: 600px;
    margin-top: 1rem;
}

.fas {
    padding-right: 1rem;
}


/* Navbar Start */
.flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.flex-container .whatsapp-link {
    margin-left: auto; /* Pushes the element to the far right */
    margin-right:1rem ;
}

   /*Navbar End  */


   /* footer start */
.footer{
    background-color:#090a29;
    text-align: center;
}

.footer .share {
    padding: 1rem 0;

}
.footer .share a {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #fff;
    font-size: 1rem;
    border:#384782 ;
    border-radius: 50%;
    margin: 0rem;
}
.footer .share a:hover {
    background-color: black;
}
.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    
}
.footer .links a {
background-color: #384782;
padding:0.7rem 2rem;
color: #fff;
font-size: 1rem;
border: black;

}
.footer .links a:hover {
    background-color: #384782;
    
    }
    .footer .links a.active {
        background-color: #172152;
        }
.footer .haklar {
    font-size: 1rem;
    color: #fff;
    font-weight: 200;
    padding-top: 0rem;
}

.footer .haklar span {
    color:black
}

.footer .haklar i {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: #fff;
    font-size:1rem;
    border:#fff ;
    border-radius: 50%;
    
}


.share {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .brand {
    font-size: 24px; /* Logoların varsayılan yazı boyutu */
    margin: 10px; /* Logolar arası boşluk */
    transition: transform 0.3s; /* Geçiş efekti eklemek için kullanabilirsiniz */
  }
  
  .brand:hover {
    transform: scale(1.3); /* Logoyu 1.3 kat büyütme işlemi */
  }
  
/* footer end */

.btn {
    background-color: #384782;
    border-color: #384782;
    
}
.btn:hover {
    background-color: #090a29;
    border-color:#090a29
}


.hizmetlerimiz p {
    text-align: center;
}


.yazi p {
    text-align: justify;
}

.yazi h1 {
    text-align: center;
}
.yazi .madde li {
    list-style-type: none;
}

/* contact us css */

.iletisim .iletisimkutusu {
    /* -webkit-box-shadow: 10px 10px 14px -7px rgba(56,71,130,1);
    -moz-box-shadow: 10px 10px 14px -7px rgba(56,71,130,1);
    box-shadow: 10px 10px 14px -7px rgba(56,71,130,1); */
  
    -webkit-box-shadow: -16px 18px 17px 4px rgba(9,10,41,0.65);
    -moz-box-shadow: -16px 18px 17px 4px rgba(9,10,41,0.65);
    box-shadow: -16px 18px 17px 4px rgba(9,10,41,0.65);
    border-radius: 20px;

    
}

.iletisim .iletisimkutusu a {
    color: #384782;
    font-size: 20px;
}


.knowledge-container {
    background-color: #384782;
    top: 300px;
    left: -70px;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
    z-index: 98;
    position: fixed;
    transform: rotate(270deg);
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
      
}

.whatsapp-container {
    background-color: #efefef;
    top: 420px;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
    z-index: 98;
    position: fixed;
    transform: rotate(270deg);
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
}

/* form css */

iframe {
    max-width: 100%;
}

